$primary-color: #c01d2e;
$primary-color-light: #ffa303;
$primary-color-dark: #c30000;
$secondary-color: #90aeff;
$secondary-color-light: #5d7fcb;
$secondary-color-dark: #c4e0ff;
$positive-color: #66bb6a;
$negative-color: #c62828;
$hud-background: #1a1a1ac4;
$hud-background-light: #e5e5e580;

$background-color: #1c1c21;
$background-color-lighter: #292931;
$background-color-even-lighter: #454553;
$background-color-dark: #1d1d24;
$background-color-inv: #ffffff;
$background-color-inv-dark: #f3f3f3;
$background-color-topbar: #111114;
$background-color-sidebar: #111114;
$background-color: #2d3436;
$background: #111111;
$shadow: hsla(0, 3%, 6%, 0.247) 1px 1px 1px;
$text-color: #ececec;
$text-color-inv: #202020;
$text-color-disabled: #acacac;
$accent-color: #c0392b;
$border-radius: 7px;
$border: 1px solid #ffffff0d;
$margin: 10px;