@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

:root {
    --main-font-size: 1vh;
    --big-font-size: 2vh;  
    --huge-font-size: 10vh;
    --font-color: white;
    --text-shadow: 1px 1px 1px #3b3b3b;
    --big-text-shadow: 3px 3px 3px #3b3b3b;
    --huge-text-shadow: 5px 5px 5px #3b3b3b;  
    --text-font: 'Michroma', sans-serif;
    --countdown-font: 'Oswald', sans-serif;
    --box-color-main: rgba(34, 37, 46, 0.882);
    --debug: none;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    opacity: 1.0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui {
    position: absolute;
    width: 100vh;
    display: flex;
    justify-content: end;
    top: 2.7vh;
    right: 2.7vh;
    border-radius: 1vh;
}

.countdown-container {
}

.countdown-holder {
    text-align: center;
}

.number-holder {
    display: var(--debug);
    background-color: var(--box-color-main);
    width: 15vh;
    height: 15vh;
    border-radius: 10vh;
    text-align: center;
}

#countdown-number {
    display: var(--debug);
    font-size: var(--huge-font-size);
    font-family: var(--countdown-font);
    color: var(--font-color);
    /* font-weight:900; */
    /* -webkit-text-stroke: 1px #000000; */
    text-transform: uppercase;
}

#countdown-text {
    display: var(--debug);
    font-size: var(--big-font-size);
    font-family: var(--text-font);
    color: var(--font-color);
    text-transform: uppercase;
}

.editor {
    display: none;
}

#editor-racename {
    position: absolute;
    left: 2vh;
    top: 2vh;
    font-family: var(--text-font);
    font-size: var(--main-font-size);
    color: var(--font-color);
    text-shadow: var(--text-shadow);
}

#editor-checkpoints {
    position: absolute;
    left: 2vh;
    top: 5vh;
    font-family: var(--text-font);
    font-size: var(--main-font-size);
    color: var(--font-color);
    text-shadow: var(--text-shadow);
}

#editor-keys-tiredistance {
    position: absolute;
    left: 2vh;
    top: 8vh;
    font-family: var(--text-font);
    font-size: var(--main-font-size);
    color: var(--font-color);
    text-shadow: var(--text-shadow);
}

#editor-keys-add {
    position: absolute;
    left: 2vh;
    top: 11vh;
    font-family: var(--text-font);
    font-size: var(--main-font-size);
    color: var(--font-color);
    text-shadow: var(--text-shadow);
}

#editor-keys-delete {
    position: absolute;
    left: 2vh;
    top: 14vh;
    font-family: var(--text-font);
    font-size: var(--main-font-size);
    color: var(--font-color);
    text-shadow: var(--text-shadow);
}

#editor-keys-cancel {
    position: absolute;
    left: 2vh;
    top: 17vh;
    font-family: var(--text-font);
    font-size: var(--main-font-size);
    color: var(--font-color);
    text-shadow: var(--text-shadow);
}

#editor-keys-save {
    position: absolute;
    left: 2vh;
    top: 20vh;
    font-family: var(--text-font);
    font-size: var(--main-font-size);
    color: var(--font-color);
    text-shadow: var(--text-shadow);
}

/* RACE */

.race {
    display: var(--debug);
}

.blocks-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    width: 100vh;
}


.blocks {
    max-width: 20vh;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hud-text {
    text-align: right;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: var(--text-font);
    font-size: var(--main-font-size);
    color: var(--font-color);
    text-shadow: var(--text-shadow);
    font-weight: 600;
    background-color: var(--box-color-main);
}

.leftAligned {
    text-align: left;
}

.split {
    display: flex;
    justify-content: space-between;
}

.big {
    font-size: var(--big-font-size);
}

#racer-positions {
    display: flex;
    text-align: right;
    gap: 5px;
    font-family: var(--text-font);
    font-size: var(--main-font-size);
    color: var(--font-color);
    text-shadow: var(--text-shadow);
    font-weight: 600;
}

#racer-position-number {
    padding: 10px;
    text-align: center;
    width: 5%;
    flex-grow: 1;
    background-color: #0000004e;
}

#racer-position-name {
    padding: 10px;
    flex-grow: 9;
    background-color: #1e2a404e;  
}

#race-ghosted-span{
    /* display: none; */
    font-size: var(--big-font-size);
}

#race-ghosted-value{
    /* display: none; */
    
}

#race-racename {
}

#race-position {
}

#race-checkpoints {
}

#race-lap {
}

#race-time {
}

#race-besttime {
}

#race-totaltime {
}
