@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

:root {
    --primary-color: #c01d2e;
	--primary-color-light: #ffa303;
	--primary-color-dark: #c30000;
    --secondary-color: #90aeff;
	--secondary-color-light: #5d7fcb;
	--secondary-color-dark: #c4e0ff;
	--positive-color: #66bb6a;
	--negative-color:  #c62828;
	--background-color: #1C1C21;
	--background-color-lighter: #292931;
	--background-color-even-lighter: #454553;
	--background-color-dark: #1d1d24;
	--background-color-inv: #ffffff;;
	--background-color-inv-dark: #f3f3f3;
    --background-color-topbar: #111114;
    --background-color-sidebar: #111114;
    --background: linear-gradient(135deg, #c01d2e 0%, #a31f2c 100%);
    --shadow: hsla(0, 3%, 6%, 0.247) 1px 1px 1px;
	--text-color: #ececec;
	--text-color-inv: #202020;
	--text-color-disabled: #acacac;
    --accent-color: #c0392b;
	--border-radius: 7px;
    --border: 1px solid #ffffff0d;
    --margin: 10px
}

body {
    overflow: hidden;
}

.ui-container {
    z-index: 2000;
    width: 100%;
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
    z-index: 2000;
}

.screen-frame {
    position: absolute;
    pointer-events: none;
    z-index: 101;
}

.screen-container {
    width: 848px;
    height: 700px;
    margin-left: -1px;
    margin-top: 72px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inline {
    display: flex;
    align-items: center;
}

.standard-margin-bot {
    margin-bottom: 10px;
}

.filters {
    margin-top: 1em;
    margin-bottom: 1em;
}

.underlined {
    border-bottom: var(--border);
}

.bold {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.center-text {
    text-align: center;
}

.centered{
    justify-content: center;
}

.spaced {
    justify-content: space-between;

}

.clickableText {
    cursor: pointer;
}

.clickableText:hover {
    cursor: pointer;
    color: var(--text-color-disabled);
}

.standardGap {
    gap: 5px
}

.spaced {
    justify-content: space-between;
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--background-color-topbar);
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-sidebar);
    color: var(--text-color-inv);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.6px 1.95px;
    z-index: 200;
}

.icon-topbar {
    margin-right: 5px;
}

.app-container {
    background-color: var(--background-color);
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    display: flex;
    height: 465px; /* 494-29 full size minus topbar */
}

.tabs-container {
    width: 100%;
}
.tracks-container {
    color: var(--text-color);
}

.page-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    max-height: 465px;
}

.setup-container {
    display: none;
}

.create-track-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.current-race-container {
}

#current-race-selection {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.current-race-items {
    display: flex;
    justify-content: center;
}

.setup-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.option-title {
    font-weight: bold;
}

.tracks-items {
    height: 313px;
    overflow: auto;
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}

.mytracks-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    height: 345px;
}

/* Style tab links */

.action-button {
    background: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
    border-radius: var(--border-radius);
}

.small {
    padding: 4px 6px;
    font-size: 15px;

}

.action-button:hover {
    background: var(--background);
}

.secondary-button {
    background: var(--background-color-lighter);
}

.secondary-button:hover {
    background: var(--background-color-even-lighter);
}

.tablinks {
    background-color: var(--background-color);
}
.tablink {
    background: none;
    font-weight: bold;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
    color: var(--text-color);
}

.tablink:hover {
    background-color: var(--background-color-lighter);
  }
.selected-tab {
    border-bottom: 4px solid var(--primary-color);
}
.selected-tab:hover {
    border-bottom: 4px solid var(--primary-color);
}
.pagelink {
    background: none;
    color: var(--text-color-inv);
    font-weight: bold;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    color: var(--text-color);
}
  

.pagelink:hover {
    background-color: var(--background-color-dark);
}
.selected-page {
    background: var(--primary-color);
}

.selected-page:hover {
    background: var(--primary-color);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--text-color);
    display: none;
    height: 100%;
}

.subheader {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    color: var(--text-color);
    width: 258px;
    height: 80px;
    padding: 15px;
    cursor: pointer;
    border-radius: var(--border-radius);
    border: var(--border);
}

.card:hover {
    background-color: var(--background-color-lighter);
}
.card-header {
    margin-bottom: 10px;
    font-weight: bold;
}
.card-body {
    margin-top: 5px;
    margin-top: 5px;
}
.card-footer {
    margin-top: 5px;
    font-size: smaller;
}

.big-card {
    color: var(--text-color);
    height: 100px;
    padding: 15px;
    border-radius: var(--border-radius);
    border: var(--border);
    max-width: 90%;
}

.result-subheader {
    margin-bottom: var(--margin);
    padding-bottom: var(--margin);
}

.result-holder {
    display: flex;
    flex-direction: column;
}

#results-items-table {
    width: 100%;
}

#records-items-table {
    width: 100%;
    max-height: 100%;
    overflow: auto;
}


.first {
    font-size: larger;
    font-weight: bold;
}

.result-row {
    vertical-align: baseline;
}

.result-header {
    color: var(--text-color-disabled);
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  /* SELECT */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Remove default arrow */
    background: var(--background-color-lighter);
    color: var(--text-color);
    padding: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: var(--border-radius);
}  

select:focus-visible {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    /* Add custom arrow */
}

select:hover {
    outline: none;
    background: var(--background-color-even-lighter);
    /* Add custom arrow */
}

/* Input */
input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Remove default arrow */
    background: var(--background-color-lighter);
    color: var(--text-color);
    padding: 5px;
    border: none;
    font-weight: bold;
    cursor: text;
    border-radius: var(--border-radius);
}  

input[type=text]:focus-visible {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    /* Add custom arrow */
}

input[type=text]:hover {
    outline: none;
    background: var(--background-color-even-lighter);
    /* Add custom arrow */
}
/* LOADING RING */

.loading-container {
    display: none;
    justify-content: center;
}
.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
} 
.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: var(--primary-color);
}
  
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#track-items-loader {
    display: none;
}

.confirmation-box {
    position: absolute;
    bottom: -100px;
    width: 747px;
    right: 0;
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

.confirmation-card {
    color: var(--text-color);
    background-color: var(--background-color-topbar);
    border-radius: var(--border-radius);
    width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
}

.confirmation-card-body {
    display: flex;
    justify-content:flex-end;
    height: fit-content;
}

.confirmation-footer {
    width: 100%;
}

